.Rproj.user
.Rhistory
.RData
.Ruserdata
Bayeslinmodtext.txt
Bayesmixmodtext.txt
Rpackages.bib
demingmodtext.txt
inverselinmodtext.txt
linmodtext.txt
yorkmodtext.txt
Bayeslinmodtext.txt
Bayesmixmodtext.txt
bayespredictions.txt
bayespredictionsMixed.txt
demingmodtext.txt
Demingpredictions.txt
inverselinmodtext.txt
linmodtext.txt
LMpredictions.txt
LMpredictions.txt.txt
weightedPreds.txt
wLMpredictions.txt
yorkmodtext.txt
Yorkpredictions.txt

/out
*bib
